services:
  perl_modules_builder:
    build:
        context: '.'
        dockerfile: ./perl_modules/Dockerfile
    container_name: perl_modules_builder
    volumes:
      - ./perl_modules/debs:/debs
    command: /build/build-all.sh

  db-config:
    image: busybox
    container_name: db-config
    command: >
      sh -c "
        mkdir -p /out &&
        # write mariadb server config
        echo '[mysqld]' > /out/99-custom.cnf &&
        echo 'innodb_buffer_pool_size=${INNODB_BUFFER_POOL_SIZE:-1G}' >> /out/99-custom.cnf &&
        # write client config for other containers to read DB connection
        echo '[client]' > /out/99-client.cnf &&
        echo 'user=${METERLOGGER_DB_USER}' >> /out/99-client.cnf &&
        echo 'password=${METERLOGGER_DB_PASSWORD}' >> /out/99-client.cnf &&
        echo 'host=${METERLOGGER_DB_HOST}' >> /out/99-client.cnf &&
        echo 'database=${METERLOGGER_DB_NAME}' >> /out/99-client.cnf &&
        echo 'port=${METERLOGGER_DB_PORT}' >> /out/99-client.cnf
      "
    volumes:
      - ./db/conf.d:/out
    environment:
      INNODB_BUFFER_POOL_SIZE: ${INNODB_BUFFER_POOL_SIZE}
      METERLOGGER_DB_NAME: ${METERLOGGER_DB_NAME}
      METERLOGGER_DB_HOST: ${METERLOGGER_DB_HOST}
      METERLOGGER_DB_PORT: ${METERLOGGER_DB_PORT}
      METERLOGGER_DB_USER: ${METERLOGGER_DB_USER}
      METERLOGGER_DB_PASSWORD: ${METERLOGGER_DB_PASSWORD}

  db:
    image: mariadb:10.5
    container_name: db
    depends_on:
      - db-config
    ports:
      - "127.0.0.1:${METERLOGGER_DB_PORT:-3306}:3306"
    volumes:
      - ./db/db_data:/var/lib/mysql:delegated
      - ./db/conf.d:/etc/mysql/conf.d:ro
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
    restart: always
    healthcheck:
      test: ["CMD", "sh", "-c", "mysql --protocol=tcp -e 'SELECT 1'"]
      timeout: 20s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: nabovarme
      MYSQL_USER: ${METERLOGGER_DB_USER}
      MYSQL_PASSWORD: ${METERLOGGER_DB_PASSWORD}
      TZ: Europe/Copenhagen

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    ports:
      - "${MQTT_PORT:-1883}:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto_data:/mosquitto/data
      - ./mosquitto_data/logs:/mosquitto/log
    restart: always
    environment:
      TZ: 'Europe/Copenhagen'
    healthcheck:
      test: ["CMD", "sh", "-c", "nc -z localhost 1883"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: '.'
    depends_on:
      db:
        condition: service_healthy
    container_name: web
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
      - ./sms_spool:/var/www/nabovarme/sms_spool
    restart: always
    environment:
      TZ: 'Europe/Copenhagen'
    healthcheck:
      test: ["CMD", "curl", "-f", "-H", "X-Real-IP: localhost", "http://localhost/"]
      interval: 15s
      timeout: 5s
      retries: 5

  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ./certbot/etc:/etc/letsencrypt
      - ./certbot/var:/var/www/certbot
    environment:
      TZ: 'Europe/Copenhagen'
    entrypoint: >
      sh -c "certbot certonly --webroot --webroot-path=/var/www/certbot --email hostmaster@skulp.net --agree-tos --no-eff-email -d meterlogger.net"

  meter_grapher:
    build:
      context: '.'
      dockerfile: ./meter_grapher/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      mqtt:
        condition: service_healthy
    container_name: meter_grapher
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    restart: always
    environment:
      CRYPTO_KEY_CACHE_TIME: ${CRYPTO_KEY_CACHE_TIME}
      MQTT_HOST: ${MQTT_HOST}
      MQTT_PORT: ${MQTT_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      TZ: 'Europe/Copenhagen'

  mysql_mqtt_command_queue_receive:
    build:
        context: '.'
        dockerfile: ./mysql_mqtt_command_queue_receive/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_healthy
    container_name: mysql_mqtt_command_queue_receive
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    restart: always
    environment:
      MQTT_HOST: ${MQTT_HOST}
      MQTT_PORT: ${MQTT_PORT}
      TZ: 'Europe/Copenhagen'
      ENABLE_DEBUG: ${ENABLE_DEBUG}

  mysql_mqtt_command_queue_send:
    build:
        context: '.'
        dockerfile: ./mysql_mqtt_command_queue_send/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_healthy
    container_name: mysql_mqtt_command_queue_send
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    restart: always
    environment:
      MQTT_HOST: ${MQTT_HOST}
      MQTT_PORT: ${MQTT_PORT}
      TZ: 'Europe/Copenhagen'
      ENABLE_DEBUG: ${ENABLE_DEBUG}

  smsd:
    build:
        context: '.'
        dockerfile: ./smsd/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    container_name: smsd
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    privileged: true
    restart: always
    stop_grace_period: 30s
    environment:
      RUT901_ROUTER_IP: ${RUT901_ROUTER_IP}
      RUT901_ROUTER_USER: ${RUT901_ROUTER_USER}
      RUT901_ROUTER_PASS: ${RUT901_ROUTER_PASS}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMSD_DRY_RUN: ${SMSD_DRY_RUN}
      TO_EMAIL: ${TO_EMAIL}
      FROM_EMAIL: ${FROM_EMAIL}
      TZ: 'Europe/Copenhagen'

  smsd_watchdog:
    build:
        context: '.'
        dockerfile: ./smsd_watchdog/Dockerfile
    container_name: smsd_watchdog
    depends_on:
      - smsd
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    privileged: true
    devices:
      - /dev/bus/usb:/dev/bus/usb
    restart: always
    environment:
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      TO_EMAIL: ${TO_EMAIL}

  meter_sms:
    build:
      context: '.'
      dockerfile: ./meter_sms/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_healthy
    container_name: meter_sms
    volumes:
      - meter_sms_state:/var/run/app_state
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    restart: always
    stop_grace_period: 30s
    environment:
      OPEN_MESSAGE: ${NOTIFICATION_OPEN_MESSAGE}
      CLOSE_MESSAGE: ${NOTIFICATION_CLOSE_MESSAGE}
      CLOSE_WARNING_MESSAGE: ${NOTIFICATION_CLOSE_WARNING_MESSAGE}
      TZ: 'Europe/Copenhagen'
      ENABLE_DEBUG: ${ENABLE_DEBUG}

  meter_cron:
    build:
      context: '.'
      dockerfile: ./meter_cron/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_healthy
    container_name: meter_cron
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    restart: always
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      GOOGLE_GEOLOCATION_API_URL: ${GOOGLE_GEOLOCATION_API_URL}
      TZ: 'Europe/Copenhagen'
      ENABLE_DEBUG: ${ENABLE_DEBUG}

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    environment:
      TZ: 'Europe/Copenhagen'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  postfix:
    build:
      context: postfix/
      dockerfile: Dockerfile
    container_name: postfix
    ports:
      - "${POSTFIX_PORT:-25}:25"
    volumes:
      - ./postfix/postfix_custom_config:/docker-init.db/
      - postfix_spool:/var/spool/postfix
      - postfix_mail:/var/mail
    restart: always
    environment:
      HOSTNAME: meterlogger
      ALLOWED_SENDER_DOMAINS: meterlogger
      RELAYHOST: smsd
      TZ: 'Europe/Copenhagen'

  openresty:
    build:
        context: '.'
        dockerfile: ./openresty/Dockerfile
    container_name: openresty
    depends_on:
      web:
        condition: service_healthy
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
    volumes:
      - ./certbot/etc:/etc/letsencrypt
      - ./certbot/var:/var/www/certbot
      - ./openresty/lua/dnsbl_whitelist:/usr/local/openresty/lualib/dnsbl_whitelist
    restart: always
    environment:
      TZ: Europe/Copenhagen

  utils:
    build:
        context: '.'
        dockerfile: ./utils/Dockerfile
    container_name: utils
    volumes:
      - ./backup:/home/meterlogger/backup
      - ./utils/bash_history:/home/meterlogger/.bash_history
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: 'Europe/Copenhagen'
    restart: always

  prometheus_exporter:
    build:
      context: '.'
      dockerfile: ./prometheus_exporter/Dockerfile
    container_name: prometheus_exporter
    volumes:
      - ./db/conf.d/99-client.cnf:/etc/mysql/my.cnf:ro
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${PROM_EXPORTER_PORT:-9101}:9101"
    environment:
      MQTT_HOST: ${MQTT_HOST}
      MQTT_PORT: ${MQTT_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      TZ: Europe/Copenhagen
      EXPORTER_PORT: 9101
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9101/metrics || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 3

volumes:
  postfix_spool:
  postfix_mail:
  meter_sms_state:
